.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.total{
  height: 1000px;
}

nav{
  display: flex;
  height: 70px;
  box-shadow: 0px 2.9px 7.4px rgba(0, 0,0,0.1);
}

section{
  display: flex;
  flex-direction: column;

}

.grp{
  margin-top: 50px;
  width: calc(100% - 20vw);
  margin-left: 10%;
  margin-right: 10%;
}

.exp{
  font-size: 3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 10vw;
}

.join{
  font-size: 1.5vw;
  margin-left: 12vw;
  color: grey;
  width: 40%;
}

.card{

  width: 175px;
  font-size: 12px;
  margin: 20px;
  /* flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden; */


}

.zaf{
  width: 100%;
  border-radius: 9px;
}

.stats{
  display: flex;
  align-items: center;
}

.bold{
  font-weight: 800;
}

.grey{
  color: grey;
}

.star{
  height: 14px;
}

.cardlist{

  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

